{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h2><a href="/photographers">Photographers</a> &nbsp;/&nbsp; {{ entry.title }}</h2>
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3>{{ entry.title }}</h3>
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3 bio">
            {% if entry.bio|length %}
                <p>
                    {{ entry.bio|nl2br }}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row grid">

            {% set photoCats = craft.categories.group("categories") %}

            {# Loop through all categories once for this user, and pick out an entry #}
            {% for cat in photoCats %}

                {% set photoMatrixRow = entry.photographs.relatedTo(cat) %}

                {% for row in photoMatrixRow %}
                <div class="col-lg-3 grid-item">
                        {# Image #}
                        {% set image = row.photograph %}
                        {% set video = row.video %}

                        {% if video|length %}
                        <div class="catHovera">
                        {% for asset in video %}
                            {% set embed = craft.embeddedAssets.fromAsset(asset) %}
                            {% if embed %}
                                <div class="video">
                                    {% for image in image %}
                                        <img src="{{ image.getUrl('photographers') }}" />
                                    {% endfor %}
                                    <div class="arrow">
                                    </div>
                                    <div class="videoLightbox">
                                        <div class="closeLightbox">
                                            Close
                                        </div>
                                        {{ embed.safeHtml|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% else %}
                        <div class="catHover">
                            {# For the first image in this matrix row category, show the cat title #}
                            {#{% if loop.index == 1 %}#}
                            {% for image in image %}
                                <a data-fancybox="gallery" href="{{ image.getUrl('lightbox') }}">
                                    <div class="catTitle">
                                        <h5>{{ cat.title ?? "" }}</h5>
                                    </div>
                                    {#{% endif %}#}

                                    <img src="{{ image.getUrl('photographers') }}" />
                                </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                </div>
                {% endfor %}
            {% endfor %}
    </div>

{% endblock %}
