{% extends "layouts/maintenance" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center maintenance">
            <img src="/assets/img/loupe.png" alt="{{ siteName }}" />
            <br />
            <br />
            <h4>Coming soon &nbsp;|&nbsp; <a href="https://instagram.com/loupe.agency/" target="_blank">Instagram</a></h4>
        </div>
    </div>

{% endblock %}
