<footer id="footer">
    <ul class="row">
        <li class="col-md-1 col-lg-1"><a href="{{ url('/') }}">Home</a></li>
        <li class="col-md-3 col-lg-2">
            <a href="{{ url('photographers') }}">Photographers</a>
            <ul class="sub">
                {% for entry in craft.entries.section('photographerEntry') %}
                    <li>
                        <a href="{{ entry.url }}">
                            {{ entry.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="col-md-2 col-lg-2">
            <a href="{{ url('categories') }}">Categories</a>
            <ul class="sub">
                {% set photoCats = craft.categories.group("categories") %}
                    {% for category in photoCats %}
                    <li>
                        <a href="{{ category.url }}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="col-md-1 col-lg-1"><a href="{{ url('about') }}">About</a></li>
        <li class="col-md-1 col-lg-1"><a href="{{ url('contact') }}">Contact</a></li>
        <li class="col-md-4 col-lg-5 text-right"><span>&copy; {{ now.year }} {{ siteName }}</span></li>
    </ul>
</footer>
