<header id="header" class="row">
    <div class="col-lg-3">
    <h1>
        <a href="{{ siteUrl }}">
            <svg width="150px" height="38px" viewBox="0 0 150 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="{{ siteName }}-logo-wrap" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="{{ siteName }}-logo" fill="#373E29">
                        <path d="M31.9736842,28.4210526 C24.1282895,28.4210526 18.3552632,22.8453947 18.3552632,15.0493421 C18.3552632,7.25328947 24.1282895,1.72697368 31.9736842,1.72697368 C39.8190789,1.72697368 45.5427632,7.25328947 45.5427632,15.0493421 C45.5427632,22.8453947 39.8190789,28.4210526 31.9736842,28.4210526 Z M31.9736842,24.2763158 C37.0065789,24.2763158 40.7565789,20.625 40.7565789,15.0493421 C40.7565789,9.47368421 37.0065789,5.87171053 31.9736842,5.87171053 C26.9407895,5.87171053 23.1414474,9.47368421 23.1414474,15.0493421 C23.1414474,20.625 26.9407895,24.2763158 31.9736842,24.2763158 Z M70.7565789,1.97368421 L75.4934211,1.97368421 L75.4934211,28.125 L71.0032895,28.125 L71.0032895,24.1776316 C69.0789474,26.8914474 65.8223684,28.4210526 62.1217105,28.4210526 C55.3618421,28.4210526 50.8717105,24.7203947 50.8717105,17.0230263 L50.8717105,1.97368421 L55.6085526,1.97368421 L55.6085526,16.4802632 C55.6085526,21.6118421 58.1743421,24.1776316 62.6644737,24.1776316 C67.5986842,24.1776316 70.7565789,21.1184211 70.7565789,15.4934211 L70.7565789,1.97368421 Z M97.4013158,1.72697368 C105.049342,1.72697368 110.625,7.05592105 110.625,15.0493421 C110.625,23.0921053 105.049342,28.4210526 97.4013158,28.4210526 C93.7006579,28.4210526 90.4440789,26.9901316 88.2730263,24.1776316 L88.2730263,37.6973684 L83.5361842,37.6973684 L83.5361842,1.97368421 L88.0756579,1.97368421 L88.0756579,6.11842105 C90.1973684,3.20723684 93.5526316,1.72697368 97.4013158,1.72697368 Z M97.0065789,24.2763158 C102.039474,24.2763158 105.838816,20.625 105.838816,15.0493421 C105.838816,9.52302632 102.039474,5.87171053 97.0065789,5.87171053 C92.0230263,5.87171053 88.2236842,9.52302632 88.2236842,15.0493421 C88.2236842,20.625 92.0230263,24.2763158 97.0065789,24.2763158 Z M139.835526,15.1973684 C139.835526,15.5921053 139.786184,16.1842105 139.736842,16.6282895 L118.519737,16.6282895 C119.111842,21.2171053 122.8125,24.2763158 127.993421,24.2763158 C131.052632,24.2763158 133.618421,23.2401316 135.542763,21.1184211 L138.157895,24.1776316 C135.789474,26.9407895 132.1875,28.4210526 127.845395,28.4210526 C119.407895,28.4210526 113.782895,22.8453947 113.782895,15.0493421 C113.782895,7.30263158 119.358553,1.72697368 126.907895,1.72697368 C134.457237,1.72697368 139.835526,7.15460526 139.835526,15.1973684 Z M126.907895,5.72368421 C122.368421,5.72368421 119.013158,8.78289474 118.519737,13.2236842 L135.296053,13.2236842 C134.802632,8.83223684 131.496711,5.72368421 126.907895,5.72368421 Z M146.546053,28.4210526 C144.720395,28.4210526 143.190789,26.9901316 143.190789,25.0164474 C143.190789,23.0427632 144.720395,21.6611842 146.546053,21.6611842 C148.322368,21.6611842 149.802632,23.0427632 149.802632,25.0164474 C149.802632,26.9901316 148.322368,28.4210526 146.546053,28.4210526 Z" id="oupe."></path>
                        <path d="M4.93421053,24.1776316 L16.7763158,24.1776316 L16.7763158,28.6184211 L0,28.6184211 L0,28.125 L0,0 L4.93421053,0 L4.93421053,24.1776316 Z" id="Combined-Shape"></path>
                    </g>
                </g>
            </svg>
        </a>
    </h1>
    </div>

    <nav class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <ul class="photographerNav">
            {% for entry in craft.entries.section('photographerEntry') %}
                <li>
                    <a href="{{ entry.url }}">
                        {{ entry.title }}<br />
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="menu">
            <span class="menuTitle">Menu</span>
            <div class="menuShape">
            </div>
            {#<div class="menuIcon">
                <span></span>
                <span></span>
            </div>#}
            <ul class="row menuItems">
                <li class="item">
                    <a href="{{ url('photographers') }}" {% if craft.request.firstSegment == 'photographers' %}class="active"{% endif %}>Photographers</a>
                    <ul class="subNav">
                        {% for entry in craft.entries.section('photographerEntry') %}
                            <li>
                                <a href="{{ entry.url }}">
                                    {{ entry.title }}<br />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="item">
                    <a href="{{ url('categories') }}" {% if craft.request.firstSegment == 'categories' %}class="active"{% endif %}>Categories</a>
                    {% set photoCats = craft.categories.group("categories") %}
                    <ul class="subNav">
                        {% for category in photoCats %}
                            <li>
                                <a href="{{ category.url }}">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="item"><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
                <li class="item"><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
