{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-3">

            <h2>{{ entry.title }}</h2>

            <br /><br />
            <p>
                {{ entry.paragraphOne|nl2br }}
            </p>
        </div>
        <div class="col-lg-4">
            <br /><br />
            <p>
                {{ entry.paragraphTwo|nl2br }}
            </p>
        </div>
    </div>

{% endblock %}
