{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <h2>{{ entry.title }}</h2>

            <br /><br />
        </div>
    </div>

    <div class="row grid">
        {% for entry in craft.categories.group("categories") %}
        <div class="col-lg-3 photoGrid grid-item">
            <a href="{{ entry.url }}">
                {% for image in entry.displayImage %}
                    <img src="{{ image.url('photographers') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                {% endfor %}
                <h3>{{ entry.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>

    {#<div class="row">
        <div class="col-lg-10 list">
            {% set photoCats = craft.categories.group("categories") %}
            {% for category in photoCats %}
                <h3><a href="{{ category.url }}">{{ category.title }}</a></h3>
                <h3><span class="spacer">&nbsp;/&nbsp;</span></h3>
            {% endfor %}
        </div>
    </div>#}

{% endblock %}
