{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h2>{{ entry.title }}</h2>
            <br /><br />
            {% if entry.email|length %}
                <b>Email:</b> <a href="mailto:{{ entry.email }}">{{ entry.email }}</a><br />
            {% endif %}

            {% if entry.phone|length %}
                <b>Phone:</b> <a href="tel:{{ entry.phone }}">{{ entry.phone }}</a><br />
            {% endif %}

            {% if entry.address|length %}
                <b>Address:</b> {{ entry.address|nl2br }}<br />
            {% endif %}

            {% if entry.socialMediaOne|length %}
                {% if entry.socialMediaOneTitle|length %}
                    <b>{{ entry.socialMediaOneTitle }}:</b>
                {% endif %}
                <a href="{{ entry.socialMediaOne }}" target="_blank">{{ entry.socialMediaOne|replace({'https://':'','http://':''}) }}</a><br />
            {% endif %}

            {% if entry.socialMediaTwo|length %}
                {% if entry.socialMediaTwoTitle|length %}
                    <b>{{ entry.socialMediaTwoTitle }}:</b>
                {% endif %}
                <a href="{{ entry.socialMediaTwo }}" target="_blank">{{ entry.socialMediaTwo|replace({'https://':'','http://':''}) }}</a><br />
            {% endif %}

            {% if entry.socialMediaThree|length %}
                {% if entry.socialMediaThreeTitle|length %}
                    <b>{{ entry.socialMediaThreeTitle }}:</b>
                {% endif %}
                <a href="{{ entry.socialMediaThree }}" target="_blank">{{ entry.socialMediaThree|replace({'https://':'','http://':''}) }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
