{% extends 'layouts/home-layout' %}

{% block content %}

            <ul class="royalSlider">
                {% for block in entry.images %}

                    {% set images = block.image %}
                    {% set photographer = block.photographer %}

                    {% if photographer|length %}

                        {% for entry in photographer %}

                            {% if images and images|length %}
                        		{% for image in images %}
                                    <li>
                                        {# Image #}
                                        <a href="{{ entry.url }}">
                                            <img src="{{ image.getUrl('homeHero') }}" alt="{{ entry.title }}" />
                                        </a>
                                        {# Title
                                        <figure class="rsCaption rsABlock">
                                        <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                                        </figure>#}
                                    </li>
                                {% endfor %}
                            {% endif %}

                        {% endfor %}

                    {% endif %}

                {% endfor %}
            </ul>

{% endblock %}
