{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-10 list">
            <h2>{{ entry.title }}</h2>
            <br /><br />
        </div>
    </div>

    <div class="row grid">
        {% for entry in craft.entries.section('photographerEntry') %}
        <div class="col-lg-3 photoGrid grid-item">
            <a href="{{ entry.url }}">
                {% for image in entry.displayImage %}
                    <img src="{{ image.url('photographers') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                {% endfor %}
                <h3>{{ entry.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}
