<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f6ebdb">
	<meta name="msapplication-TileColor" content="#f6ebdb">
	<meta name="theme-color" content="#f6ebdb">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.config.env == "local" ? date().getTimestamp() : 0.57 %}

	{# CSS #}
	{% includeCssFile "/assets/css/vendor.min.css?v="~assetVersion %}
	{% includeCssFile "/assets/css/site.min.css?v="~assetVersion %}
	{% includeCssFile "/royalslider/royalslider.css" %}

	{# Font #}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

</head>

<body class="{{ entry.title|lower }}Page">
	<div class="container-fluid homeHead">

		{% include "base/header" %}

	</div>

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

	<div class="container-fluid">
		<footer id="footer">
			<ul>
				<li><span>&copy; {{ now.year }} {{ siteName }}</span></li>
			</ul>
		</footer>
	</div>

	{# Jquery 2.0.3 #}
	{% includeJsFile "/assets/js/jquery.min.js" %}

	{# JS #}
	{% includeJsFile "/assets/js/vendor.min.js?v="~assetVersion %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}
	{% includeJsFile "/royalslider/jquery.royalslider.min.js" %}

</body>

<script>
	$(window).load(function() {
	     // update size of slider (if you already initialized it before)
	     $('.royalSlider').royalSlider('updateSliderSize', true);
	});
	$(document).ready(function(){
		// Image slider options
		$('.royalSlider').royalSlider({
			autoScaleSlider: false,
			autoHeight: false,
			arrowsNav: false,
			imageAlignCenter: false,
			globalCaption: true,
			controlNavigation: 'none',
			controlsInside: false,
			imageScaleMode: 'none',
			keyboardNavEnabled: true,
			slidesSpacing: 100,
			usePreloader: false,
			transitionSpeed: 600,
			transitionType: 'fade',
			sliderDrag: true,
			loop: true,
			loopRewind: false,
			autoPlay: {
				enabled: true,
				delay: 4000,
				pauseOnHover: false
			}
		});
		{# If caption is ever required
		$('.royalSlider').royalSlider('updateSliderSize', true);
		$('.royalSlider').each(function() {
			var slider = $(this);
			var sliderInstance = slider.data('royalSlider');
			if(sliderInstance) {
				var slideCounter = $('<div class="rsSlideCount"></div>').appendTo( slider );
				var updCount = function () {
					slideCounter.html( (sliderInstance.currSlideId+1) + ' / ' + sliderInstance.numSlides );
				}
				sliderInstance.ev.on('rsAfterSlideChange', updCount);
				updCount();
			}
		});#}
	});
</script>

</html>
