<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f6ebdb">
	<meta name="msapplication-TileColor" content="#f6ebdb">
	<meta name="theme-color" content="#f6ebdb">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.config.env == "local" ? date().getTimestamp() : 0.57 %}

	{# CSS #}
	{% includeCssFile "/assets/css/vendor.min.css?v="~assetVersion %}
	{% includeCssFile "/assets/css/site.min.css?v="~assetVersion %}
	{% includeCssFile "/royalslider/royalslider.css" %}

	{# Font #}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

</head>
<body class="{{ entry is defined ? entry.title|lower : "loupe" }}Page">
	<div class="container-fluid">

		{% include "base/header" %}

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

		{% include "base/footer" %}

	</div>

	{# JS #}

	{# CDN Jquery, localise before live deployment #}
	<script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
	{# Bootstrap #}
	{% includeJsFile "/assets/js/vendor.min.js?v="~assetVersion %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}
	{# Masonry #}
	<script src="/assets/js/masonry.min.js"></script>
	<script>
	$(window).on('load', function() {
		$('.grid').masonry({
		  itemSelector: '.grid-item',
	  	});
	});
	</script>

</body>
</html>
