{% extends 'layouts/layout' %}

{% block content %}

    {% set photoCat = craft.categories({
        group: "categories",
        slug: craft.request.getSegment(2),
        limit: 1
    }).first() %}

    {% set entries = craft.entries({
        section: "photographerEntry",
    }) %}

    <div class="row">
        <div class="col-lg-12">

            <h2><a href="/categories">Categories</a> &nbsp;/&nbsp; {{ photoCat.title }}</h2>
            <br /><br />
        </div>
    </div>

<div class="row grid">
    {# Loop through photographers #}
    {% for entry in entries %}

        {% set photoMatrixRow = entry.photographs.relatedTo(photoCat) %}

        {% for row in photoMatrixRow %}
        <div class="col-lg-3 grid-item">
            <div class="catHover">
                {# Image #}
                {% set image = row.photograph %}
                {% set video = row.video %}
                {% if image and image|length %}

                    <a href="{{ entry.url }}">
                        <div class="catTitle">
                            <h5>{{ entry.title ?? "" }}</h5>
                        </div>
                    </a>

                    {% for image in image %}
                        <img src="{{ image.getUrl('photographers') }}" />
                    {% endfor %}
                {% else %}

                {% for asset in video %}
                    {% set embed = craft.embeddedAssets.fromAsset(asset) %}
                    {% if embed %}
                        {{ embed.safeHtml|raw }}
                    {% endif %}
                {% endfor %}

                {% endif %}
            </div>
        </div>
        {% endfor %}

    {% endfor %}
</div>

{% endblock %}
