.video{
    cursor: pointer;
    &:hover{
        .arrow{
            opacity: 0.9;
        }
    }
    .arrow{
        opacity: 0.6;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin-left: auto;
        margin-right: auto;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 50px solid $cream;
        transition: opacity 0.2s ease;
    }
    .videoLightbox{
        opacity: 0;
        height: 0;
        display: none;
        background: rgba(246, 235, 219, 0.9);
        position: fixed;
        text-align: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 555;
        transition: opacity 0.2s ease;
        /*&.show{
            height: 100%;
            opacity: 1;
            &.close{
                opacity: 0;
                height: 0;
            }
        }*/
        .closeLightbox{
            cursor: pointer;
            width: 5rem;
            height: 2rem;
            left: 2rem;
            top: 8.8rem;
            text-align: left;
            position: absolute;
        }
        iframe{
            max-width: 40rem;
            width: 100%;
            margin: auto;
            left: 0;
            right: 0;
            border: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
    }
    &.showLB{
        .videoLightbox{
            display: block;
            height: 100%;
            opacity: 1;
            &.close{
                opacity: 0;
                height: 0;
            }
        }
    }
}
