:root{
    nav{
        a, a:visited{
            color: $cream;
        }
    }
    a, a:visited{
        color: $olive;
        text-decoration: none;
        transition: color 0.2s ease;
        &:hover, &:active{
        }
    }
    a{
        &:hover{
            opacity: 0.6;
            transition: opacity 0.2s ease;
        }
        &:active{
            opacity: 0.8;
        }
    }
    .catHover{
        a{
            opacity: 1;
            outline: none;
        }
    }
}
