
// Core styles

body{
    font-family: $font-main;
    color: $olive;
    background: $cream;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container{
}

.container-fluid{
    padding: 0 2rem;
}

#content{
    min-height: 66vh;
    margin-top: 7rem;
    p{
        font-size: 0.7rem;
    }
}

/*iframe{
    width: 100% !important;
    height: auto !important;
}*/

header{
    margin-top: 2rem;
    height: 3rem;
    margin-bottom: 2.4rem;
    .logo{
        position: fixed;
        display: block;
    }
}

/*nav{
    z-index: 999;
    .menu{
        text-align: right;
        z-index: 999;
        ul{
            margin: 0;
            padding: 0;
            //background: $olive;
            &.menuItems{
                position: fixed;
                top: 2rem;
                right: 2rem;
                padding: 1rem 2rem;
                float: right;
                background: rgba(246, 235, 219, 0.96);
                transition: background 0.2s ease, color 0.2s ease;
                &.bgHov{
                    background: rgba(55, 62, 41, 0.96);
                    li{
                        &.item{
                            color: $cream;
                        }
                    }
                }
                li{
                    list-style: none;
                    &.item{
                        display: none; //inline-block;
                        float: right;
                        padding: 0 2rem;
                        @media (max-width: $screen-sm){
                            width: 100%;
                        }
                        &:first-child{
                            padding-left: 0;
                        }
                        &:last-child{
                            padding-right: 0;
                        }
                        &.menuTitle{
                            display: inline-block;
                            padding-left: 0;
                        }
                        .subNav{
                            display: none;
                            float: none;
                            text-align: left;
                            line-height: 1.4rem;
                            font-size: 0.8rem;
                            margin: 0.8rem 0;
                            @media (max-width: $screen-sm){
                                display: inline-block;
                                width: 100%;
                                text-align: right;
                            }
                        }
                    }
                    &.menuTitle{
                        color: $olive;
                        cursor: pointer;
                    }
                }
            }
        }
        &.menuItems{

        }
        &.open{
            &:hover{
                ul{
                    &.menuItems{
                        background: rgba(55, 62, 41, 0.96);
                    }
                }
            }
            ul{
                &.menuItems{
                    background: rgba(55, 62, 41, 0.6);
                    @media (max-width: $screen-sm){
                        left: 2rem;
                        padding-bottom: 4rem;
                        background: rgba(55, 62, 41, 1);
                    }
                    li{
                        &.item{
                            display: inline-block;
                            @media (max-width: $screen-sm){
                                padding: 0;
                                &:first-child{
                                    margin-top: 3rem;
                                }
                            }
                            &.navHov{
                                &:hover{
                                    .subNav{
                                        display: block;
                                    }
                                }
                            }
                        }
                        &.menuTitle{
                            color: $cream;
                            padding-left: 2rem;
                            @media (max-width: $screen-sm){
                                position: absolute;
                                right: 2rem;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}*/

nav{
    text-align: right;
    .menu{
        position: fixed;
        z-index: 999;
        top: 2rem;
        right: 3rem;
        height: 4rem;
        width: 4rem;
        float: right;
        cursor: pointer;
        color: $olive;
        transition: color 0.4s ease;
        @media (max-width: $screen-sm-min) {
            right: 2rem;
        }
        .menuTitle{
            position: relative;
            z-index: 9999;
        }
        .menuShape{
            position: absolute;
            top: -0.2rem;
            right: 1.72rem;
            background: rgba(55, 62, 41, 0.1);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            transform: scale(1);
            transition: all 0.4s ease;
            z-index: 9999;
        }
        &:hover{
            height: 7rem;
            width: 7rem;
            color: $cream;
            z-index: 9999;
            .menuShape{
                background: rgba(55, 62, 41, 0.5);
                top: -1rem;
                right: -0.5rem;
                width: 7rem;
                height: 7rem;
                transform: scale(1.2);
                z-index: 9997;
            }
        }
        ul{
            display: none;
            text-align: right;
            li{
                ul{
                    &.subNav{
                        display: block;
                        position: relative;
                        padding: 0.4rem 0 1rem;
                        li{
                            //padding-left: 1rem;
                            font-size: 0.8rem;
                            //text-align: right;
                        }
                    }
                }
            }
        }
        &.open{
            .menuItems{
                position: fixed;
                top: 3rem;
                right: 1rem;
                padding: 1rem 2rem;
                float: right;
                //background: rgba(246, 235, 219, 0.96);
                transition: background 0.2s ease, color 0.2s ease;
                @media (max-width: $screen-sm-min) {
                    right: 0;
                }
                .item{
                    //display: inline-block;
                    padding: 0 1rem 0 0;
                    vertical-align: top;
                }
            }
            .menuShape{
                background: rgba(55, 62, 41, 0.95);
                top: -7rem;
                bottom: 0;
                right: -14rem;
                width: 32rem;
                height: 32rem;
                transform: scale(1.2);
                z-index: 9997;
            }
            .menuIcon{
                display: none;
            }
            ul{
                display: block;
                z-index: 9999;
            }
        }
    }
    ul{
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            padding: 0;
            font-size: 1rem;
            .active{
                opacity: 0.4;
            }
            &.navHov{
                &:hover{
                    >.subNav{
                        display: block;
                    }
                }
            }
        }
    }
}

:root{
    .photographerNav{
        position: relative;
        text-align: left;
        li{
            display: inline-block;
            padding-right: 2rem;
            a{
                color: $olive;
            }
        }
    }
}

/* ---------------------------- Site wide / Defaults / Resets ---------------------------- */

// Homepage

:root{
    body{
        &.homePage{
            overflow-x: hidden;
            #content{
                margin-top: 0;
            }
            #footer{
                position: fixed;
                margin: 0;
                left: 2rem;
                right: 2rem;
                bottom: 2rem;
                min-height: 0;
                z-index: 999;
                ul{
                    overflow: auto;
                }
            }
        }
    }
}

#header{
    position: fixed;
    left: 2rem;
    top: 0;
    right: 2rem;
    z-index: 999;
}

// Images

img{
    width: 100%;
}

// Slider

ul.royalSlider{
    //width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    line-height: 0;
    list-style: none;
    background: $cream;
    padding: 0;
    margin: 0;
    a{
        &:hover{
            opacity: 1;
        }
    }
    h3{
        transition: all 1s ease;
    }
    .rsGCaption{
        position: absolute;
        left: 1.6rem;
        bottom: 6.6rem;
        text-align: left;
        margin: 0;
        background: none;
        //text-shadow: 0 1px 2px $olive-light;
        a{
            color: $cream;
        }
    }
}

// Headings

h1{
    font-size: 2rem;
    img{
        max-width: 9.4rem;
    }
}

h2{
    font-size: 0.7rem;
    font-style: italic;
    opacity: 0.3;
    font-weight: 200;
}

h3{
    font-size: 1.6rem;
    font-weight: 400;
    @media (max-width: $screen-md-min) {
        font-size: 1.4rem;
    }
    @media (max-width: $screen-sm-min) {
        font-size: 1.2rem;
    }
    @media (max-width: $screen-xs-min) {
        font-size: 1rem;
    }
}
h5{
    font-size: 2.8rem;
}

.photoGrid{
    h3{
        font-size: 1rem;
        padding: 1rem 0 2rem;
        display: inline-block;
    }
}

.contactPage{
    #content{
        b{
            font-weight: 400;
        }
        p, a, b{
            font-size: 0.9rem;
        }
    }
}

footer{
    margin: 10rem 0 0;
    color: $olive;
    min-height: 14rem;
    span{
        font-size: 0.7rem;
        opacity: 0.8;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            position: relative;
            padding-right: 4rem;
            display: inline;
            list-style: none;
            font-size: 0.8rem;
            opacity: 0.6;
            &:last-child{
                float: right;
                padding-right: 0;
            }
            .sub{
                position: absolute;
                top: 1.5rem;
                left: 1rem;
                @media (max-width: $screen-sm-min) {
                    position: relative;
                    top: 0.4rem;
                    left: 0;
                    margin-bottom: 2rem;
                }
                li{
                    display: block;
                    float: none;
                }
            }
        }
    }
}

// Photographers pages

.bio{
    margin-bottom: 4rem;
}

.grid{
    min-height: 10rem;
}

.grid-item{
    margin-bottom: 2rem;
    &.photoGrid{
        margin-bottom: 0;
    }
    .catHover{
        position: relative;
        .catTitle{
            color: $olive;
            background: rgba(246, 235, 219, 0.6);
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            text-align: center;
            transition: opacity 0.2s ease;
            &:before {
                content: " ";
                display: inline-block;
                height: 100%;
                width: 1%;
                vertical-align: middle;
            }
            h5{
                font-size: 0.8rem;
                font-weight: 400;
                display: inline-block;
                vertical-align: middle;
            }
        }
        &:hover{
            .catTitle{
                opacity: 1;
            }
        }
    }
}

.gallery{
    outline: none;
    &:focus{
        outline: none;
    }
}

// Maintenance / 505 / 404

.maintenance{
    margin-top: 40vh;
    img{
        max-width: 9.4rem;
    }
}
