
// Base font

$font-main: 'Montserrat', sans-serif;

#header{
    h1{
        font-size: 44px;
        letter-spacing: 0.46px;
        font-weight: 400;
    }
}

h1, h2, h3, h4, h5, p, figcaption{
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0;
    display: inline;
}
